.jumbotron {
  background-image: url("../../assets/images/beach5-lg.jpg");
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}
.jumbotron h1 {
  color: rgb(40, 40, 58);
  font-weight: bolder;
  font-family: Josefin Sans;
  /* opacity: 0.75; */
  font-size: 5vw;
  font-variant: small-caps;
}
.jumbotron p {
  font-size: 1.75vw;
  font-weight: bolder;
  color: rgb(65, 64, 80);
}
